* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: 1%;
  margin: 1% 20%;
  background: rgb(100, 44, 5);
}

.child {
  height: 150px;
  width: 150px;
  background: white;
}

.black {
  background: black;
}

.img {
  width: 100%;
}
